<!-- views/beers.ejs -->

<div>
    <% beersFromApi.forEach(beer => {%>
        <div>
            <div><img src="<%= beer.image_url %>" alt="beer image" style="height:200px"></div>
            <h4><%- beer.name %></h4>
            <p><%- beer.description %></p>
            <p><%- beer.tagline %></p>
        </div>
    <%}) %>
</div>