<!-- views/beers.ejs -->

<div class="beer-grid">
    <% beersFromApi.forEach(beer => {%>
        <div id="beer">
            <%- include('./partials/beer.ejs', {beer}) %>
        </div>
    <%}) %>
</div>