<!-- views/random-beer.ejs -->

<div class="random-beer">
    <% responseFromAPI.forEach(beer => { %>
        <div>
            <%- include('./partials/beer.ejs', {beer}) %>
            <p><strong>Food pairing:</strong></p>
            <ul>
                <% beer.food_pairing.forEach(pairing =>{ %>
                    <p><%- pairing %></p>
                <% }) %>
            </ul>
            <p><strong>Brewers tips: </strong><%- beer.brewers_tips %></p>
        </div>          
    <%}) %>
</div>